* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body, html {
    height: 100%;
}
  
  .parallax {
    /* The image used */
    background-image: url('img_parallax.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background-color: rgb(117, 114, 114);
}

/* --------------------navbar----------------------- */
.navbar {
    width: 100%;
    background-color: rgb(61, 61, 61);
    color: white;
    display: flex;
    padding: 1%;
}
.logo {
    width: 10%;
}
.logo-size {
    width: 100%;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.menu a {
    color: white;
}
/* ------------------------navbar------------------------- */

.parallax {
    /* The image used */
    background-image: url("assets/cropped_DnDMonsterManuelExpandedCover.jpeg");
    background-size: 100%;
    margin-top: 100px;
  
    /* Set a specific height */
    height: 1000px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.corpus {
    width: 100%;
    height: 100%;
    /* height: 100vh; */
/* background-color: blueviolet; */
}

