* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(46, 45, 45);
}
header {
    background-color: rgb(117, 114, 114);
}
.navbar {
    width: 100%;
    background-color: rgb(61, 61, 61);
    color: white;
    display: flex;
    padding: 1%;

}



.logo {
    width: 10%;
}

.logo-size {
    width: 100%;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.menu > div {

}





h1 {
    color: white;
}
p {
    color: white;
}

a {
    color: white;
}


main {
    display: flex;
    justify-content: center;
}
.corpus {
    width: 70%;
    height: 100vh;
background-color: blueviolet;
}
.flag {
    width: 15%;
    background-color: rgb(213, 188, 237);
}

